Multi-Workspace Campaign Launch Alerts/n8n/campaign-launch-alerts.workflow.json
{
  "name": "Campaign Launch Alerts",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "86b2cb9a-1d2f-4846-ab2a-e91e65d42c1c",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      }
    },
    {
      "id": "a3a347ae-7ef6-44a5-9ad1-6db389aaf7cd",
      "name": "Fetch Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 0],
      "parameters": {
        "method": "GET",
        "url": "https://api.plusvibe.ai/api/v1/authenticate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_PLUSVIBE_CREDENTIAL_ID", "name": "PlusVibe API" }
      }
    },
    {
      "id": "2fdacc7f-8d7c-4d79-a29e-a2b0018d04df",
      "name": "Split Workspaces",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [448, 0],
      "parameters": { "fieldToSplitOut": "workspaces", "include": "noOtherFields" }
    },
    {
      "id": "6b4488b8-4aa1-4106-8a48-35784b251701",
      "name": "Fetch Active Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [672, 0],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.plusvibe.ai/api/v1/campaign/list-all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            { "name": "workspace_id", "value": "={{ $json._id }}" },
            { "name": "status", "value": "ACTIVE" },
            { "name": "campaign_type", "value": "parent" },
            { "name": "limit", "value": "100" }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [{ "type": "qs", "name": "skip", "value": "={{ $pageCount * 100 }}" }]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.length < 100 }}",
              "limitPagesFetched": true,
              "maxRequests": 50
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_PLUSVIBE_CREDENTIAL_ID", "name": "PlusVibe API" }
      }
    },
    {
      "id": "7a639db2-9d66-4871-9265-20d7af727b04",
      "name": "Normalize Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const wsItems = $('Split Workspaces').all();\nconst nameById = {};\nfor (const w of wsItems) { nameById[w.json._id] = w.json.name; }\nconst campaigns = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j)) { campaigns.push(...j); }\n  else if (j && j.id) { campaigns.push(j); }\n  else if (j && Array.isArray(j.data)) { campaigns.push(...j.data); }\n}\nconst out = [];\nconst seen = new Set();\nfor (const c of campaigns) {\n  if (!c || !c.id || seen.has(c.id)) { continue; }\n  seen.add(c.id);\n  out.push({ json: {\n    campaign_id: String(c.id),\n    camp_name: c.camp_name || '(unnamed)',\n    workspace_id: c.workspace_id || '',\n    workspace_name: nameById[c.workspace_id] || c.workspace_id || '',\n    status: c.status || '',\n    created_at: c.created_at || '',\n    lead_count: c.lead_count != null ? c.lead_count : 0,\n    sequence_steps: c.sequence_steps != null ? c.sequence_steps : 0,\n    daily_limit: c.daily_limit != null ? c.daily_limit : 0\n  } });\n}\nreturn out;"
      }
    },
    {
      "id": "9ee2a6aa-1dbf-483a-a204-aa1dd5f1e89b",
      "name": "Read Seen Campaigns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 0],
      "executeOnce": true,
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT campaign_id FROM automation.pv_launch_state;",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID", "name": "Supabase (state DB)" }
      }
    },
    {
      "id": "e1fe25fe-1e43-4f68-b11f-d66406ffa88c",
      "name": "Compute New Launches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const seenItems = $('Read Seen Campaigns').all();\nconst seen = new Set();\nfor (const it of seenItems) { if (it.json && it.json.campaign_id != null) { seen.add(String(it.json.campaign_id)); } }\nconst wasEmpty = seen.size === 0;\nconst campaigns = $('Normalize Campaigns').all().map(i => i.json);\nconst fresh = campaigns.filter(c => !seen.has(String(c.campaign_id)));\nreturn fresh.map(c => ({ json: Object.assign({}, c, { _seed: wasEmpty }) }));"
      }
    },
    {
      "id": "384b0308-639d-4b3c-ac5d-424559636ffc",
      "name": "Record New Launches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1568, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation.pv_launch_state (campaign_id, workspace_id, workspace_name, camp_name, status) VALUES ($1, $2, $3, $4, $5) ON CONFLICT (campaign_id) DO NOTHING RETURNING campaign_id;",
        "options": {
          "queryReplacement": "={{ [$json.campaign_id, $json.workspace_id, $json.workspace_name, $json.camp_name, $json.status] }}",
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": { "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID", "name": "Supabase (state DB)" }
      }
    },
    {
      "id": "61a82474-636c-4ab0-b044-0fa0fa22eb59",
      "name": "Build Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const insertedItems = $('Record New Launches').all();\nconst insertedIds = new Set();\nfor (const it of insertedItems) { if (it.json && it.json.campaign_id != null) { insertedIds.add(String(it.json.campaign_id)); } }\nconst fresh = $('Compute New Launches').all().map(i => i.json);\nconst toSend = fresh.filter(c => insertedIds.has(String(c.campaign_id)) && c._seed === false);\nconst nowStr = new Date().toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\nreturn toSend.map(c => ({ json: Object.assign({}, c, { detected_fmt: nowStr }) }));"
      }
    },
    {
      "id": "b76cc43e-c5db-4b4c-b6da-eecaff2e3bfd",
      "name": "Post Launch Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [2016, 0],
      "onError": "continueRegularOutput",
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "mode": "id", "value": "C0XXXXXXXXX", "cachedResultName": "campaign-launches" },
        "messageType": "text",
        "text": "=🚀 *New campaign launched*\n*Client / Workspace:* {{ $json.workspace_name }}\n*Campaign:* {{ $json.camp_name }}\n*Status:* {{ $json.status }}  ·  *Leads:* {{ $json.lead_count }}  ·  *Sequence steps:* {{ $json.sequence_steps }}  ·  *Daily limit:* {{ $json.daily_limit }}\n*Launched:* {{ $json.detected_fmt }}",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "credentials": {
        "slackApi": { "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID", "name": "Slack Bot" }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": { "main": [[{ "node": "Fetch Workspaces", "type": "main", "index": 0 }]] },
    "Fetch Workspaces": { "main": [[{ "node": "Split Workspaces", "type": "main", "index": 0 }]] },
    "Split Workspaces": { "main": [[{ "node": "Fetch Active Campaigns", "type": "main", "index": 0 }]] },
    "Fetch Active Campaigns": { "main": [[{ "node": "Normalize Campaigns", "type": "main", "index": 0 }]] },
    "Normalize Campaigns": { "main": [[{ "node": "Read Seen Campaigns", "type": "main", "index": 0 }]] },
    "Read Seen Campaigns": { "main": [[{ "node": "Compute New Launches", "type": "main", "index": 0 }]] },
    "Compute New Launches": { "main": [[{ "node": "Record New Launches", "type": "main", "index": 0 }]] },
    "Record New Launches": { "main": [[{ "node": "Build Alerts", "type": "main", "index": 0 }]] },
    "Build Alerts": { "main": [[{ "node": "Post Launch Alert", "type": "main", "index": 0 }]] }
  },
  "pinData": {}
}
